h1 {
  font-size: 5rem;
  color: rgb(243, 145, 15);
  text-shadow: 3px 3px rgb(93, 70, 52);
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
